*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color: #bbfaea;
}
.wrapper{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
header{
    background-color: #ccc;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
header .logo{
    color: #a01919;
    font-size: 50px;
    line-height: 150px;
    float: left;
}
header nav{
    float: right;
    line-height: 150px;
}
header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
}
.servicios{
    background-color: #e2e2e2;
    display: grid;
    grid-template-columns: repeat(2,minmax(min-content,1fr));
    place-content: center;
    gap: 100px;
    margin: auto;
}
.serviciosDescripcion{
    padding: 10px;
    text-align: center;
}
.contacto{
    background-color: #000;
}
footer{
    background-color: #636161;
}