*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');
.contenedor{
    background: url(./imagenes/primer-plano-mano-llaves-coche.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
header{
    background:url(./imagenes/faros-potentes-vista-particulas-automoviles-lujo-modernos-estacionados-interiores-dia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 20px;
}
header .logo{
    color: #a01919;
    font-size: 50px;
    line-height: 150px;
    float: left;
    font-family: 'Amiri', serif;
}
header nav{
    float: right;
    line-height: 150px;
}
.links{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: 500;
}
.links:hover{
    color: #fff;
}
.links::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #a56216;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
.links:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* .navLogo{

} */
.servicios{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3,minmax(min-content,250px));
    place-content: center;
    gap: 30px;
    margin: auto;
    padding: 80px 0;
}
.serviciosDescripcion{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #000;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 20px rgb(0,0,0);
    border-radius: 10px;
}
.serviciosDescripcion h4{
    padding: 10px;
}
.listaServicios{
    list-style:circle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
footer{
    background:url(./imagenes/grandes-manos-hombre-volante-mientras-conduce-coche.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto;
    text-decoration: none;
    padding: 5px;
}
.contacto,.contacto2{
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
}
.contacto{
    text-align: center;
}
.contacto li{
    list-style: none;
    padding: 20px;
    font-size: 2rem;
}
/* #instagram{

} */
.contacto li a{
    text-decoration:none ;
    color: #000;
    transition: 0.6s;
}
.contacto li a:hover{
    color: #f0b777;
}
