*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');
.wrapper{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
header{
    background:url(./imagenes/faros-potentes-vista-particulas-automoviles-lujo-modernos-estacionados-interiores-dia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}
header nav{
    float: right;
    line-height: 150px;
}
.links{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: 500;
}
.links:hover{
    color: #fff;
}
.links::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #a56216;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
.links:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navLogo{
    position: absolute;
    top: 50px;
    left: 100px;
}
.logo{
    font-size: 90px;
    line-height: 100px;
    float: left;
    font-family: 'Amiri', serif;
}
.span1{
    color: #6b6b6b;
    padding: 5px;
    filter: drop-shadow(0 0 5px #6b6b6b);
}
.span2{
    color: #bebebe;
    padding: 5px;
    filter: drop-shadow(0 0 5px #bebebe);
}
.servicios{
    background: url(./imagenes/primer-plano-mano-llaves-coche.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3,minmax(min-content,250px));
    place-content: center;
    gap: 30px;
    margin: auto;
    padding: 80px 0;
}
.serviciosDescripcion{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #000;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 20px rgb(0,0,0);
    border-radius: 10px;
}
.serviciosDescripcion h4{
    padding: 10px;
}
.listaServicios{
    list-style:circle;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
footer{
    background:url(./imagenes/grandes-manos-hombre-volante-mientras-conduce-coche.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto;
    text-decoration: none;
    padding: 5px;
}
.contacto,.contacto2{
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}
.contacto{
    text-align: center;
}
.contacto li{
    list-style: none;
    padding: 20px;
    font-size: 2rem;
}
.contactoTelefono{
color: #fff;
}
#instagram{
    color: #fff;
    transition:  0.5s ease-in-out;
}
#instagram:hover{
    transform: rotate(45deg);
    filter: drop-shadow(0 0 15px red);
    color: #5d0cf3;
}
.contacto li a{
    text-decoration:none ;
    color: #fff;
    transition: 0.6s;
}
.contacto li a:hover{
    color: #f0b777;
}
.contacto2 h3{
    color: #fff;
}
.eMail{
    color: #fff;
}
.freepik{
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    color: #eee;
    font-size: 15px;
    line-height: 15px;
}

@media screen and (max-width: 950px){
    .navLogo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
    }
    .span1{
        color: #6b6b6b;
        padding: 5px;
        filter: drop-shadow(0 0 5px #6b6b6b);
    }
    .span2{
        color: #bebebe;
        padding: 5px;
        filter: drop-shadow(0 0 5px #000000);
    }
    .servicios{
        background-image: url(./imagenes/primer-plano-mano-llaves-coche.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 700px){
    .servicios{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

@media screen and (max-width: 380px){
    .navLogo{
        display: flex;
        padding: 0;
        margin: 0;
    }
    .navegador{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .links{
        padding: 20px;
    }
    .logo{
        font-size: 50px;
        line-height: 60px;
    }
    .servicios{
        background-image: url(./imagenes/primer-plano-mano-llaves-coche.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #contacto{
        display: flex;
        flex-direction: column;
    }
    .contacto2{
        text-align: center;
    }
}